/* Custom CSS (Özel stil dosyası) */

/* Varsayılan tema stillerini ezmek için buraya yazacağız */

body {
   font-family: "Inter", Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 860px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e7e7e7; /* TEST İÇİN EKLEDİK */
}

